html {
	scroll-behavior: smooth;
}

body {
	background-color: #AA5555;
}

.scroll{
	position: fixed;
	bottom: 30px;
	right: 30px;
	display: none;
}

.navbar {
	display: inline;
}

.stopka {
	margin: auto;
	text-align: center;
	width: 30%;
}

#formularz {
	color: white;
	width: 30%;
	padding-top: 35px;
	padding-left: 3%;
}

.img {
	width: 100px;
	height: auto;
}